
body {
    background-color:#0B2447;
     font-family: Arial, Helvetica, sans-serif;
     color: white;
     margin: 0;
 }
 header{
   display:flex;
   width:100%;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background-color: white;
 }
 li{
   list-style-type: none;
   position: relative;
   padding:10px;
 }
 .h1pos{
   margin-right:40px;
   font-size: 23px;
   display:flex;
   flex-direction: row;
   justify-content: space-between;
 }
 #link{
    color: white;
 }
 #link1{
   color:#0B2447;
 }
 .button1{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top:380px;
  }
  #join-an-event{
    background-color:#0B2447;
    border-color:black;
    border-radius:15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:20px;
    font-weight:600;
    color:white;
  }
  #invite-a-friend{
    background-color:white;
    border-color:black;
    border-radius:15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:20px;
    font-weight:600;
    color:#0B2447;
  }
  
  .boxmain{
    display:flex;
    width:100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .boximg{
    margin-top: 100px;
    margin-left:200px;
    width:50%;
    background-color: white;
    height: 300px;
    width:250px;
  }
  .boxdetails
  {
    margin-top: 100px;
    margin-right:50px;
    width:50%;
    background-color: white;
    height: 470px;
    border-radius: 5px;
  }