body {
    background-color: #0B2447;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/*for the nav bar*/
header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*HOME,ABOUT US,MY EVENT*/
h1 {
    font-size: 23px;
}

.h1pos {
    display: flex;
    justify-content: space-evenly;
}

.h1text {
    margin-right: 40px;
}

/*form*/
.main1 {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p {
    color: rgb(255, 255, 255);
    font-family: Gabriola, sans-serif;
    font-size: 50px;
    position: absolute;
    top: 30px;
    right: 730px;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    font-size: 25px;
    font-weight:300;
    width: 100%;
    background-color: #0B2447;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border-color: white;
    border-radius: 15px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(255, 255, 255, 0.681);
}

.box {
    position: relative;
    width: 25%;
    line-height: 5;
    margin-right: 350px;
}
#google{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    border-radius: 15px;
    width: 100%;
    flex-direction: row;
    color:#0B2447;
    align-items: center;
}
#google:hover{
    background-color: rgba(255, 255, 255, 0.681);
}