body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: #0B2447;
  margin: 0;
}
p {
  line-height: 0.2em;
}
li{
  list-style-type: none;
  position: relative;
  padding:10px;
}
header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#link1{
  color: #0B2447;
}
#link{
  color: white;
}
.h1pos{
  margin-right:40px;
  font-size: 23px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.h2text {
  justify-content: space-evenly;
  color: black;
  margin-right: 200px;
  margin-left: 600px;
  font-size: 24px;
  font-weight: 400;

}

.wrapper {
  width: 1000px;
  height: 250px;
  background-color: white;
  border: 2px solid black;
  margin-left: 205px;
  margin-right: 150px;
  border-radius: 10px;
  margin-top: 75px
}

button {
  background-color: #0B2447;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 200px;
  margin-left: 350px;
  font-size: 20px;

}


.h3text {
  color: white;
  margin-left: 750px;
  margin-top: -50px;
  margin-right: 20px;
}
footer{
  color:white;
  background-color: #0B2447;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding-top:80px;
  padding-bottom: 30px;
}
.rights{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Socials{
  font-size:30px;
}
